@model Payroll.Domain.Entities.Payslip

<div>
  <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayslipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayslipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayslipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayslipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRAAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRAAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialAllowanceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialAllowanceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeProvidentFund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeProvidentFund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherDeduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherDeduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWorkingDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWorkingDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLossOfPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLossOfPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetSalary)
        </dd>

    </dl>
</div>

